@import "~bootstrap/dist/css/bootstrap.css";

body {
    overflow-x: hidden;
}

#root {
    min-height: 100vh;
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}

.logged-in-avatar {
    width: 30px;
}

.separator {
    height: 20px;
    width: 0;
    border: 1px solid #EEE;
    border-left: none;
    margin: 0 5px;
}

.avatar-image {
    max-width: 200px;
}

.top-left-triangle {
    width: 0;
    height: 0;
    border-top: 55px solid rgba(0, 0, 0, 0.09);
    border-right: 55px solid transparent;
}

.cup-position {
    left: 5px;
    top: -50px;
}

.cup-xgold {
    color: darkgoldenrod;
}

.cup-xsilver {
    color: silver;
}

.cup-xbronze {
    color: #CD7F32;
}
.my-vote {
    width: 45px;
    height: 45px;
}
