@import "~bootstrap/dist/css/bootstrap.css";

#root {
    width: 100vw;
    height: 100vh;
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}

.logged-in-avatar {
    width: 30px;
}

.separator {
    height: 20px;
    width: 0;
    border: 1px solid #EEE;
    border-left: none;
    margin: 0 5px;
}
